<h1>Rails Project Index</h1>

<p>The Index template!</p>

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<h4>View Home Page!</h4>
		<p>Lorem ipsum dolor sit amet, id ridens facete corrumpit sit, nemore quaeque mel te, duo graeco electram ei. Inani suscipit vel eu. Mei eu lorem nonumy cotidieque. In fastidii voluptua postulant pri, ipsum euismod has in, te nec dissentiet neglegentur.</p>
		<p><%= link_to 'Home', root_path, :class => 'btn btn-default' %></p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h4>View all Articles!</h4>
		<p>Lorem ipsum dolor sit amet, id ridens facete corrumpit sit, nemore quaeque mel te, duo graeco electram ei. Inani suscipit vel eu. Mei eu lorem nonumy cotidieque. In fastidii voluptua postulant pri, ipsum euismod has in, te nec dissentiet neglegentur.</p>
		<p><%= link_to 'Articles', articles_path, :class => 'btn btn-default' %></p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h4>View all Users!</h4>
		<p>Lorem ipsum dolor sit amet, id ridens facete corrumpit sit, nemore quaeque mel te, duo graeco electram ei. Inani suscipit vel eu. Mei eu lorem nonumy cotidieque. In fastidii voluptua postulant pri, ipsum euismod has in, te nec dissentiet neglegentur.</p>
		<p><%= link_to 'Users', users_path, :class => 'btn btn-default' %></p>
	</div>
	
</div>




